<div>
  <div class="">
    <h1 class="font-primary md:text-desktop-h1 text-mobile-h1">Color Styles</h1>
    <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">Icons will primarily be used at 32px and in outline. Strokes vary with icon sizes so are sure to use the proper icon in the set size. Icons are based on Feather Icons, but each one is modified to fit Rothy’s brand and added to the library. </p>
  </div>
  <div class="">
    <h2 class="font-primary md:text-desktop-h2 text-mobile-h2">Primary</h2>
    <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">Rothy’s primary color is Indigo.</p>
    <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">Indigo and Reverse,  with the use of strong photography are the foundation of the Rothy’s brand.
    </p>
    <div class="w-full h-full flex justify-between">
      <div class="w-full h-40 grid content-end bg-primary-indigo text-utils-white">
        <p class="text-medium">Indigo</p>
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">#0B163B</p>
      </div>
      <div class="w-full h-40 grid content-end bg-primary-reverse text-primary-indigo border-2 border-utils-black">
        <p class="text-medium">Reverse</p>
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">#FFFFFF</p>
      </div>
    </div>
    <div class="w-full h-full flex justify-between">
      <div class="w-full h-40 grid content-end bg-primary-reflexblue text-utils-white">
        <p class="text-medium">Reflex Blue</p>
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">#092DC5</p>
      </div>
      <div class="w-full h-40 grid content-end bg-primary-sandstone text-primary-indigo">
        <p class="text-medium">Sandstone</p>
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">#F4F2EF</p>
      </div>
    </div>
  </div>
  <div class="">
    <h2 class="font-primary md:text-desktop-h2 text-mobile-h2">Secondary</h2>
    <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">Rothy’s Secondary are typically used for badges and as small accents.</p>
    <div class="w-full h-full flex justify-between">
      <div class="w-full h-40 grid content-end bg-secondary-indigo text-utils-white">
        <p class="text-medium">Indigo
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">#5B667F</p>
      </div>
      <div class="w-full h-40 grid content-end bg-secondary-tangerine text-utils-white">
        <p class="text-medium">Tangerine
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">#DA3522</p>
      </div>
    </div>
    <div class="w-full h-full flex justify-between">
      <div class="w-full h-40 grid content-end bg-secondary-bluegrey text-primary-indigo">
        <p class="text-medium">Blue Grey
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">#C5BDBC</p>
      </div>
      <div class="w-full h-40 grid content-end bg-secondary-preordergreen text-utils-white">
        <p class="text-medium">Pre Order Green
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">#376566</p>
      </div>
      <div class="w-full h-40 grid content-end bg-secondary-backorderpurp text-utils-white">
        <p class="text-medium">Back Order Purple
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">#5B3766</p>
      </div>
    </div>
  </div>
  <div class="">
    <h2 class="font-primary md:text-desktop-h2 text-mobile-h2">Utility</h2>
    <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">Utility colors are used for utility functions like success and failure states.</p>
    <div class="w-full h-full flex justify-between">
      <div class="w-full h-40 grid content-end bg-utils-green text-utils-white">
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">Green</p>
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1"></p>
      
      </div>
      <div class="w-full h-40 grid content-end bg-utils-red text-utils-white">
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">Red</p>
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1"></p>
      
      </div>
      <div class="w-full h-40 grid content-end bg-utils-amber text-utils-white">
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">Amber</p>
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1"></p>
      
      </div>
    </div>
    <div class="w-full h-full flex justify-between">
      <div class="w-full h-40 grid content-end bg-utils-black text-utils-white">
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">Black</p>
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1"></p>
      
      </div>
      <div class="w-full h-40 grid content-end bg-utils-white text-primary-indigo border-2 border-utils-black">
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1">White</p>
        <p class="font-secondary md:text-desktop-paragraph1 text-mobile-paragraph1"></p>
      
      </div>
  </div>
</div>
{% schema %}
{
  "name": "Tailwind Colors",
  "settings": [
    {
      "type": "header",
      "content": "Tailwind Components"
    }
  ]
}
{% endschema %}
